.header{
  height: 60px;
  display: flex;
  justify-content: flex-end;
}
.header-right_box {
  box-shadow: 4px 0px 15px 0px #696868;
  width: calc(100vw - 530px);
  background-color: #61d1d1;
  border-radius: 0px 0px 0px 35px;
}
.header-search {
  background-color: white;
  width: 167px;
  margin: 9px 17px;
  border-radius: 0px 20px 20px 24px;
  height: 40px;
}
.header-search__icon{
  padding: 7px;
}
.header-center_box{
  font-family: 'Roboto', serif;
  color: black;
 margin:  10px 20px 10px 5px;

  & p:first-child{
    font-size: 30px;
  }
  & p:last-child{
    font-size: 15px;
  }
}

