.leaflet-container {
  height: 80vh;
  width: 100%;
  box-shadow: 25px 0px 25px 0px rgb(105, 104, 104);
  left: 350px;
  top: 80px;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}
